export GITLABCI_NAME=runner-name-you-want
export GITLABCI_URL=https://your-gitlab-url.company/
export GITLABCI_TOKEN=project-token-goes-here
export GITLABCI_EXECUTOR=docker
export GITLABCI_TAGS='executor_docker'

